<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.oheasy.er.dao.ErDao">

    <!--사원등록-->
    <insert id="postEmp" parameterType="kr.or.oheasy.vo.HrEmpMstVO">
        INSERT INTO hr_emp_mst (CD_EMP, NM_EMP, NO_RESIDENT) VALUES (#{cdEmp}, #{nmEmp}, #{noResident})
    </insert>

    <!--사원수정-->
    <update id="updateEmp">
        UPDATE hr_emp_mst
        SET ${column} = #{value}
        WHERE CD_EMP = #{cdEmp}
    </update>

    <!--사원코드 존재여부검사-->
    <select id="checkCdEmpExistence" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM hr_emp_mst WHERE CD_EMP = #{cdEmp}
    </select>

    <!--사원전체조회-->
    <select id="getAllEmpList" resultType="kr.or.oheasy.vo.HrEmpMstVO">
        SELECT * FROM hr_emp_mst
    </select>

    <!--사원조회-->
    <select id="getCdEmp" resultType="kr.or.oheasy.vo.HrEmpMstVO">
        SELECT
        E.*,
        BD.NM_BANK AS nmBank,
        BD.TP_BANK AS tpBank,
        DD.NM_DEPARTMENT AS nmDepartment,
        PS.NM_POSITION AS nmPosition,
        PS.SQ_POSITION AS sqPosition,
        PC.NM_POSITION_CATEGORY AS nmPositionCategory
        FROM hr_emp_mst E
        LEFT JOIN bank_data_sdtl BD ON E.CD_BANK = BD.CD_BANK
        LEFT JOIN department_dtl DD ON E.NO_DEPARTMENT = DD.NO_DEPARTMENT
        LEFT JOIN position_sdtl PS ON E.NO_POSITION_UNIQUE = PS.NO_POSITION_UNIQUE
        LEFT JOIN position_category_dtl PC ON PS.NO_POSITION_CATEGORY = PC.NO_POSITION_CATEGORY
        WHERE E.CD_EMP = #{cdEmp}
    </select>

    <!--사원삭제-->
    <delete id="deleteEmp">
        DELETE FROM hr_emp_mst WHERE CD_EMP = #{cdEmp}
    </delete>

    <!-- 각 테이블에서 참조하는 행의 여부를 확인 -->
    <select id="checkReferences" resultType="map">
        SELECT
        (CASE WHEN EXISTS (SELECT 1 FROM salary_deduction_info WHERE CD_EMP = #{cdEmp}) THEN 'salary_deduction_info' ELSE NULL END) AS "급여등록",
        (CASE WHEN EXISTS (SELECT 1 FROM hr_emp_dtl WHERE CD_EMP = #{cdEmp}) THEN 'hr_emp_dtl' ELSE NULL END) AS "인사등록",
        (CASE WHEN EXISTS (SELECT 1 FROM hr_contract_info WHERE CD_EMP = #{cdEmp}) THEN 'hr_contract_info' ELSE NULL END) AS "근로계약서"
    </select>

    <!--부서전체조회-->
    <select id="getDeptList" resultType="kr.or.oheasy.vo.HrEmpMstVO">
        SELECT * FROM department_dtl
    </select>

    <!--은행전체조회-->
    <select id="getBankList" resultType="kr.or.oheasy.vo.HrEmpMstVO">
        SELECT * FROM bank_data_sdtl
    </select>

</mapper>
