<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.oheasy.er.dao.ErDao">

    <insert id="postEmp" parameterType="kr.or.oheasy.vo.HrEmpMstVO">
        INSERT INTO hr_emp_mst (CD_EMP) VALUES (#{cdEmp})
    </insert>

    <update id="updateEmp">
        UPDATE hr_emp_mst
        SET ${column} = #{value}
        WHERE CD_EMP = #{cdEmp}
    </update>

    <select id="checkCdEmpExistence" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM hr_emp_mst WHERE CD_EMP = #{cdEmp}
    </select>


    <select id="getAllEmpList" resultType="kr.or.oheasy.vo.HrEmpMstVO">
        select * from hr_emp_mst
    </select>

    <select id="getCdEmp" resultType="kr.or.oheasy.vo.HrEmpMstVO">
        SELECT * FROM hr_emp_mst WHERE CD_EMP = #{cdEmp}
    </select>

    <delete id="deleteEmp">
        delete from hr_emp_mst where CD_EMP = #{cdEmp}
    </delete>

</mapper>
