<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.oheasy.sd.dao.SdDao">

	<!-- 조건 조회(사원 리스트) -->
	<select id="getEmpList" resultType="kr.or.oheasy.vo.SdEmpMstVO">
		SELECT
		e.CD_EMP,
		e.NM_EMP,
		s.NM_POSITION
		FROM
		HR_EMP_MST e
		JOIN
		POSITION_SDTL s
		ON
		e.NO_POSITION_UNIQUE = s.NO_POSITION_UNIQUE
	</select>

	<!-- 사원 상세 정보 -->
	<select id="getEmpDetailData" parameterType="String"
		resultType="kr.or.oheasy.vo.SdEmpInfoVO">
		SELECT
		e.DT_HIRE AS hireDate,
		e.FG_GENDER AS gender,
		e.NM_ADDRESS AS address,
		e.DC_ADDRESS AS detailAddress,
		e.NO_MOBILE_PHONE AS phone,
		e.NM_EMAIL AS email,
		e.DT_RESIGN AS leavingDate,
		e.FG_FOREIGN AS domesticForeign,
		d.NM_DEPARTMENT AS department,
		m.FG_MILITARY_SERVICE AS military,
		IFNULL(l.LICENSE_COUNT, 0) AS certificate,
		IFNULL(f.FAMILY_COUNT, 0) AS family,
		bd.FG_OBSTACLE AS obstacle
		FROM HR_EMP_MST e
		LEFT JOIN DEPARTMENT_DTL d ON e.NO_DEPARTMENT = d.NO_DEPARTMENT
		LEFT JOIN MILITARY_INFO_DTL m ON e.CD_EMP = m.CD_EMP
		LEFT JOIN (
		SELECT CD_EMP, COUNT(*) AS LICENSE_COUNT
		FROM LICENSE_DTL
		GROUP BY CD_EMP
		) l ON e.CD_EMP = l.CD_EMP
		LEFT JOIN (
		SELECT CD_EMP, COUNT(*) AS FAMILY_COUNT
		FROM HR_FAMILY_DTL
		GROUP BY CD_EMP
		) f ON e.CD_EMP = f.CD_EMP
		LEFT JOIN BODY_DATA_DTL bd ON e.CD_EMP = bd.CD_EMP
		WHERE e.CD_EMP = #{cd_Emp}
	</select>
</mapper>




