<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.oheasy.sd.dao.SdDao">

	<!-- 조건 조회(사원 리스트) -->
	<select id="getEmpList" parameterType="Map"
		resultType="kr.or.oheasy.vo.SdEmpMstVO">
		SELECT
		e.CD_EMP as cdEmp,
		e.NM_EMP as nmEmp,
		s.NM_POSITION as nmPosition
		FROM HR_EMP_MST e
		JOIN POSITION_SDTL s
		ON
		e.NO_POSITION_UNIQUE = s.NO_POSITION_UNIQUE
		WHERE SUBSTRING(DT_HIRE, 1,
		6) &lt;= #{belongingDate}
		<choose>
			<!-- 코드 순 정렬 -->
			<when test="searchOrder == 0">
				ORDER BY
				CASE
				WHEN e.CD_EMP IS NULL THEN 4
				WHEN e.CD_EMP REGEXP '^[A-Za-z]' THEN 1
				WHEN e.CD_EMP REGEXP '^[0-9]' THEN 2
				ELSE 3
				END,
				e.CD_EMP;
			</when>
			<!-- 이름 순 정렬 -->
			<when test="searchOrder == 1">
				ORDER BY
				CASE
				WHEN e.NM_EMP IS NULL THEN 4
				WHEN e.NM_EMP REGEXP '^[가-힣]' THEN 1
				WHEN e.NM_EMP REGEXP '^[A-Za-z]' THEN 2
				WHEN e.NM_EMP REGEXP '^[0-9]' THEN 3
				ELSE 4
				END,
				e.NM_EMP;
			</when>
			<!-- 입사 순 정렬 -->
			<when test="searchOrder == 2">
				ORDER BY
				CASE
				WHEN e.DT_HIRE IS NOT NULL THEN 1
				ELSE 2
				END,
				e.DT_HIRE;
			</when>
			<!-- 직급 순 정렬 -->
		    <when test="searchOrder == 3">
		        ORDER BY
		        CASE
		        WHEN s.SQ_POSITION IS NOT NULL THEN 1
		        ELSE 2
		        END,
		        s.SQ_POSITION;
		    </when>
		</choose>
	</select>

	<!-- 사원 상세 정보 -->
	<select id="getEmpDetailData" parameterType="String"
		resultType="kr.or.oheasy.vo.SdEmpInfoVO">
		SELECT
		e.DT_HIRE AS hireDate,
		CASE
		WHEN SUBSTRING(e.NO_RESIDENT, 8, 1) = '1' THEN '남'
		ELSE '여'
		END AS gender,
		e.NM_ADDRESS AS address,
		e.DC_ADDRESS AS detailAddress,
		e.NO_MOBILE_PHONE AS phone,
		e.NM_EMAIL AS email,
		e.DT_RESIGN AS
		leavingDate,
		e.FG_FOREIGN AS domesticForeign,
		d.NM_DEPARTMENT AS
		department,
		m.FG_MILITARY_SERVICE AS military,
		IFNULL(l.LICENSE_COUNT,
		0) AS certificate,
		IFNULL(f.FAMILY_COUNT, 0) AS family,
		bd.FG_OBSTACLE
		AS obstacle
		FROM HR_EMP_MST e
		LEFT JOIN DEPARTMENT_DTL d ON
		e.NO_DEPARTMENT = d.NO_DEPARTMENT
		LEFT JOIN HR_MILITARY_INFO_DTL m ON
		e.CD_EMP = m.CD_EMP
		LEFT JOIN (
		SELECT CD_EMP, COUNT(*) AS LICENSE_COUNT
		FROM HR_LICENSE_DTL
		GROUP BY CD_EMP
		) l ON e.CD_EMP = l.CD_EMP
		LEFT JOIN (
		SELECT CD_EMP, COUNT(*) AS FAMILY_COUNT
		FROM HR_FAMILY_DTL
		GROUP BY
		CD_EMP
		) f ON e.CD_EMP = f.CD_EMP
		LEFT JOIN HR_BODY_DATA_DTL bd ON e.CD_EMP
		= bd.CD_EMP
		WHERE e.CD_EMP = #{cd_Emp}
	</select>

	<!-- 급여 자료 조회 -->
	<select id="getEmpTax" parameterType="Map"
		resultType="kr.or.oheasy.vo.SdDeducationVO">
		SELECT
		s.CD_EMP AS cdEmp,
		t.NM_TAX_RATE as cdTaxRate,
		s.AMT_ALLOWANCE as amtAllowance,
		s.FG_TAX as fgTax,
		s.YY_ALLOWANCE as yyAllowance,
		s.MM_BELONG as mmBelong,
		s.DT_ALLOWANCE as dtAllowance
		FROM salary_deduction_info s
		INNER JOIN
		tax_rate t
		ON s.CD_TAX_RATE = t.CD_TAX_RATE
		WHERE CD_EMP=#{cdEmp}
		AND YY_ALLOWANCE=#{yyAllowance}
		AND MM_BELONG=#{mmBelong}
		AND DT_ALLOWANCE=#{dtAllowance}
	</select>

	<!-- 신규 급여 입력 -->
	<insert id="setEmpPay" parameterType="List">
	INSERT INTO SALARY_DEDUCTION_INFO (CD_EMP, CD_TAX_RATE,
	AMT_ALLOWANCE, FG_TAX, YY_ALLOWANCE, MM_BELONG, DT_ALLOWANCE)
	VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.cdEmp},
			#{item.cdTaxRate},
			<choose>
				<when test="item.cdTaxRate == 501">
					GREATEST(16650, LEAST(265500, #{item.amtAllowance} * (
					SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{item.cdTaxRate}
					)))
				</when>
				<when test="item.cdTaxRate == 502">
					LEAST(3911270, #{item.amtAllowance} * (
					SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{item.cdTaxRate}
					))
				</when>
				<when test="item.cdTaxRate == 503">
					LEAST(501010, #{item.amtAllowance} * (
					SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{item.cdTaxRate}
					))
				</when>
				<when test="item.cdTaxRate == 505">
				    <choose>
				        <when test="item.amtAllowance &lt; 1060000">
				            0
				        </when>
				        <when test="item.amtAllowance == 10000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            )
				        </when>
				        <when test="item.amtAllowance &gt; 10000000 and item.amtAllowance &lt;= 14000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + ((#{item.amtAllowance} - 10000000) * 0.98 * 0.35) + 25000
				        </when>
				        <when test="item.amtAllowance &gt; 14000000 and item.amtAllowance &lt;= 28000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AAMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 1397000 + ((#{item.amtAllowance} - 14000000) * 0.98 * 0.38)
				        </when>
				        <when test="item.amtAllowance &gt; 28000000 and item.amtAllowance &lt;= 30000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 6610600 + ((#{item.amtAllowance} - 28000000) * 0.98 * 0.4)
				        </when>
				        <when test="item.amtAllowance &gt; 30000000 and item.amtAllowance &lt;= 45000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 7394600 + ((#{item.amtAllowance} - 30000000) * 0.4)
				        </when>
				        <when test="item.amtAllowance &gt; 45000000 and item.amtAllowance &lt;= 87000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 13394600 + ((#{item.amtAllowance} - 45000000) * 0.42)
				        </when>
				        <when test="item.amtAllowance &gt; 87000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 31034600 + ((#{item.amtAllowance} - 87000000) * 0.45)
				        </when>
				        <otherwise>
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            #{item.amtAllowance} &gt;= AMT_START_RANGE AND #{item.amtAllowance} &lt; AMT_END_RANGE
				            )
				        </otherwise>
				    </choose>
				</when>
				<when test="item.cdTaxRate == 506">
				(
					<choose>
				        <when test="item.amtAllowance &lt; 1060000">
				            0
				        </when>
				        <when test="item.amtAllowance == 10000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            )
				        </when>
				        <when test="item.amtAllowance &gt; 10000000 and item.amtAllowance &lt;= 14000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + ((#{item.amtAllowance} - 10000000) * 0.98 * 0.35) + 25000
				        </when>
				        <when test="item.amtAllowance &gt; 14000000 and item.amtAllowance &lt;= 28000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AAMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 1397000 + ((#{item.amtAllowance} - 14000000) * 0.98 * 0.38)
				        </when>
				        <when test="item.amtAllowance &gt; 28000000 and item.amtAllowance &lt;= 30000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 6610600 + ((#{item.amtAllowance} - 28000000) * 0.98 * 0.4)
				        </when>
				        <when test="item.amtAllowance &gt; 30000000 and item.amtAllowance &lt;= 45000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 7394600 + ((#{item.amtAllowance} - 30000000) * 0.4)
				        </when>
				        <when test="item.amtAllowance &gt; 45000000 and item.amtAllowance &lt;= 87000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 13394600 + ((#{item.amtAllowance} - 45000000) * 0.42)
				        </when>
				        <when test="item.amtAllowance &gt; 87000000">
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
				            ) + 31034600 + ((#{item.amtAllowance} - 87000000) * 0.45)
				        </when>
				        <otherwise>
				            (
				            SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
				            #{item.amtAllowance} &gt;= AMT_START_RANGE AND #{item.amtAllowance} &lt; AMT_END_RANGE
				            )
				        </otherwise>
				    </choose>
				    ) * (
					SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{item.cdTaxRate}
					)
				</when>
				<otherwise>
					#{item.amtAllowance}* (
					SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{item.cdTaxRate}
					)
				</otherwise>
			</choose>
			,
			#{item.fgTax},
			#{item.yyAllowance},
			#{item.mmBelong},
			#{item.dtAllowance})
		</foreach>
	</insert>


	<!-- 급여 정보 수정 -->
	<update id="updateEmpPay"
		parameterType="kr.or.oheasy.vo.SdDeducationVO">
		UPDATE SALARY_DEDUCTION_INFO
		SET AMT_ALLOWANCE =
		<choose>
			<when test="cdTaxRate == 501">
				GREATEST(16650, LEAST(265500, #{amtAllowance} * (
				SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{cdTaxRate}
				)))
			</when>
			<when test="cdTaxRate == 502">
				LEAST(3911270, #{amtAllowance} * (
				SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{cdTaxRate}
				))
			</when>
			<when test="cdTaxRate == 503">
				LEAST(501010, #{amtAllowance} * (
				SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{cdTaxRate}
				))
			</when>
			<when test="cdTaxRate == 505">
				<choose>
					<when test="amtAllowance &lt; 1060000">
						0
					</when>
					<when test="amtAllowance == 10000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						)
					</when>
					<when
						test="amtAllowance &gt; 10000000 and amtAllowance &lt;= 14000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + ((#{amtAllowance} - 10000000) * 0.98 * 0.35) + 25000
					</when>
					<when
						test="amtAllowance &gt; 14000000 and amtAllowance &lt;= 28000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AAMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 1397000 + ((#{amtAllowance} - 14000000) * 0.98 * 0.38)
					</when>
					<when
						test="amtAllowance &gt; 28000000 and amtAllowance &lt;= 30000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 6610600 + ((#{amtAllowance} - 28000000) * 0.98 * 0.4)
					</when>
					<when
						test="amtAllowance &gt; 30000000 and amtAllowance &lt;= 45000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 7394600 + ((#{amtAllowance} - 30000000) * 0.4)
					</when>
					<when
						test="amtAllowance &gt; 45000000 and amtAllowance &lt;= 87000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 13394600 + ((#{amtAllowance} - 45000000) * 0.42)
					</when>
					<when test="amtAllowance &gt; 87000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 31034600 + ((#{amtAllowance} - 87000000) * 0.45)
					</when>
					<otherwise>
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						#{amtAllowance} &gt;= AMT_START_RANGE AND #{amtAllowance} &lt; AMT_END_RANGE
						)
					</otherwise>
				</choose>
			</when>
			<when test="cdTaxRate == 506">
			(
				<choose>
					<when test="amtAllowance &lt; 1060000">
						0
					</when>
					<when test="amtAllowance == 10000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						)
					</when>
					<when
						test="amtAllowance &gt; 10000000 and amtAllowance &lt;= 14000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + ((#{amtAllowance} - 10000000) * 0.98 * 0.35) + 25000
					</when>
					<when
						test="amtAllowance &gt; 14000000 and amtAllowance &lt;= 28000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AAMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 1397000 + ((#{amtAllowance} - 14000000) * 0.98 * 0.38)
					</when>
					<when
						test="amtAllowance &gt; 28000000 and amtAllowance &lt;= 30000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 6610600 + ((#{amtAllowance} - 28000000) * 0.98 * 0.4)
					</when>
					<when
						test="amtAllowance &gt; 30000000 and amtAllowance &lt;= 45000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 7394600 + ((#{amtAllowance} - 30000000) * 0.4)
					</when>
					<when
						test="amtAllowance &gt; 45000000 and amtAllowance &lt;= 87000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 13394600 + ((#{amtAllowance} - 45000000) * 0.42)
					</when>
					<when test="amtAllowance &gt; 87000000">
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						AMT_START_RANGE = 10000000 AND AMT_END_RANGE = 10000000
						) + 31034600 + ((#{amtAllowance} - 87000000) * 0.45)
					</when>
					<otherwise>
						(
						SELECT AMT_ICTAX FROM INCOME_TAX_RATE WHERE
						#{amtAllowance} &gt;= AMT_START_RANGE AND #{amtAllowance} &lt; AMT_END_RANGE
						)
					</otherwise>
				</choose>
				) * (
				SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{cdTaxRate}
				)
			</when>
			<otherwise>
				#{amtAllowance} * (
				SELECT RATE_TAX FROM TAX_RATE WHERE CD_TAX_RATE = #{cdTaxRate}
				)
			</otherwise>
		</choose>
		WHERE CD_EMP = #{cdEmp}
		AND YY_ALLOWANCE = #{yyAllowance}
		AND MM_BELONG = #{mmBelong}
		AND CD_TAX_RATE = #{cdTaxRate}
	</update>

	<!-- 과세 리스트 조회 -->
	<select id="getTaxList" resultType="List" >
		select cd_tax_rate from tax_rate
	</select>

	<!-- 세액 조건 조회 -->
	<select id="getTaxInfo" parameterType="Map">
		SELECT
		IFNULL(SUM(s.AMT_ALLOWANCE), 0) AS totalAmount
		FROM
		TAX_RATE t
		LEFT JOIN
		SALARY_DEDUCTION_INFO s ON t.CD_TAX_RATE =
		s.CD_TAX_RATE
		<choose>
			<when test="searchTaxOrder == 0">
				WHERE
				s.YY_ALLOWANCE = #{yyAllowance}
				AND
				s.MM_BELONG = #{mmBelong}
			</when>
			<when test="searchTaxOrder == 1">
				WHERE
				s.YY_ALLOWANCE = #{yyAllowance}
				AND
				s.MM_BELONG = #{mmBelong}
				AND
				s.CD_EMP = #{cdEmp}
			</when>
			<when test="searchTaxOrder == 2">
				WHERE
				s.YY_ALLOWANCE = #{yyAllowance}
			</when>
			<when test="searchTaxOrder == 3">
				WHERE
				s.YY_ALLOWANCE = #{yyAllowance}
				AND
				s.MM_BELONG = #{mmBelong}
				AND
				s.CD_EMP = #{cdEmp}
			</when>
		</choose>
		GROUP BY
		t.CD_TAX_RATE
	</select>
</mapper>




