<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.oheasy.wc.dao.WcDao">

<!-- 전사원의 정보 -->
<select id="getAllEmpList" parameterType="String" resultType="kr.or.oheasy.vo.WcGetEmpListVO">
	SELECT cd_emp,nm_emp,no_resident FROM hr_emp_mst
	WHERE fg_workcontract = #{tabState}
</select>

  
<update id="updateEmp0to1" >
update hr_emp_mst
set fg_workcontract = 1
</update>


<select id = "getWcData" parameterType="String" resultType="kr.or.oheasy.vo.WcVO">
	SELECT * FROM hr_contract_infO WHERE cd_emp = #{code}

</select>


</mapper>




