<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.oheasy.dao.AuthDao">

<select id="login" resultType="int">
	select count(*) from users where id=#{userId} and password=#{userPwd}
</select>

<select id="userData" resultType="kr.or.oheasy.vo.LoginVO">
	select * from users where id=#{userId}
</select>



</mapper>




