/* bases/reset.scss */

// @charset "utf-8";

html {
  /* Anti-aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* Typo-readability */
  // font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  letter-spacing: -0.0125em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
}

i,
em,
address {
  font-style: normal;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend {
  border: 0;
  padding: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

// button {
//     margin: 0;
//     padding: 0;
//     outline: 0;
//     cursor: pointer;
// }

// button,
// html input[type="button"],
// input[type="reset"],
// input[type="submit"] {
//   -webkit-appearance: button;
//   cursor: pointer;
// }
/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

/* IE에서 비밀번호 보이기/숨기기 눈 없애기*/
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input {
  // border: 0;
  //     background: #fff;
  //     height: 44px;
  //     padding: 0 15px;
  //     width: 100%;
  //     border-radius: 5px;
  //     font-size: 16px;
  //     color: #666;
}

// ::-webkit-input-placeholder {
//     color: #999;
//     font-size: 14px;
// }

// :-ms-input-placeholder {
//     color: #999;
//     font-size: 14px;
// }

::placeholder {
  color: #999;
  font-size: 14px;
}
