/*  bases/root.scss */
:root {
  // color
  // --color-primary-blue: #7092e4;
  --color-primary-blue: #1985fa;
  // --color-secondary-blue: #2e6ec8;
  --color-secondary-blue: #92c5ff;
  --color-primary-navy: #1e22bf;
  --color-primary-gray: #707070;
  --color-primary-black: #222222;
  --color-primary-white: #ffffff;
  --color-opacity-blue: #eef7fe;
  --color-opacity-gray: #e6e6e6;
  --color-border-gray: #ccc;
}
