.erSection {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 1640px;
  height: calc(100% - 100px);
  margin: 0 auto;
  padding: 0 15px;
  flex-grow: 1;
  overflow: hidden;
}

.erGrid {
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
}

.erGridBottomTable {
  border-collapse: collapse;
  background-color: #a9d0f5;
  font-weight: bold;
  width: 100%;
}

.erGridBottomTable th,
.erGridBottomTable td {
  border: 1px solid #e6e6e6;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  width: 50%;
}

.erlistArea {
  display: flex;
  flex-direction: column;
  width: 530px;
}

.erGrid2 {
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
}

.erHeaderStyle {
  background-color: #e6e6e6;
  padding: 10px;
  font-weight: 900;
  text-align: right;
  vertical-align: middle;
  font-size: 16px;
  width: 200px;
}

.erCellStyle {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  font-size: 13px;
}

.erInputDisabledStyle {
  border: 1px solid #ffffff;
  width: 100%;
  background: #ffffff;
}

.erLightGreen {
  background-color: rgb(232, 248, 232);
}

.erSelectBox select {
  width: 180px;
}

/* email */
.erEmailCell {
  display: flex;
  align-items: center;
}

.erAtSign {
  text-align: left;
  font-size: 13px;
  padding-right: 8px;
}

.erInputCell {
  width: 159px;
}

/* 모달 스타일 */
.erModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.erModalContent {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 55%;
  max-height: 100%;
  overflow-y: auto;
}
