
.erSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  width: 100%;
  max-width: 1640px;
  height: 85%;
  margin: 0 auto;
  padding: 0 15px;
  flex-grow: 1;
  overflow: hidden;
}

.erGrid {
  display: grid;
  grid-template-rows: auto 1fr auto; /* 자식 요소들을 위쪽, 중앙, 아래쪽으로 배치 */
  border: 1px solid black;
  box-sizing: border-box;
  overflow: auto;
  background-color: #ffffff;
  max-height: calc(100% - 10px);
}

.erGridTable {
  border-collapse: collapse;
  width: 100%;
}

.erGridTable th,
.erGridTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 13px;
}

.erGridBottom {
  border-collapse: collapse;
  width: 100%;
  margin-top: auto;
  background-color: lightblue;
  font-weight: bold;
}

.erGrid2Top {
  table-layout: fixed;
  width: 100%;
  border-bottom: 2px solid black;
}

.erGrid2Top th {
  padding: 8px;
  text-align: center;
  font-size: 13px;
  table-layout: fixed;
  width: 10%;
}

.erGrid2TopCell {
  background-color: var(--color-primary-blue);
  color: white;
  border: 1px solid black;
}

.erGrid2 {
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: auto;
}

.erHeaderStyle {
  background-color: #e6e6e6;
  padding: 10px;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  font-size: 13px;
  width: 180px;
}

.erCellStyle {
  padding: 7px;
  vertical-align: middle;
  font-size: 13px;
}

.erInputStyle {
  width: 100%;
  height: 26px;
  font-weight: bold;
  border: 1px solid #ccc;
  color: rgb(97, 97, 97);
}

.erInputDateStyle {
  width: 100%;
  height: 26px;
  font-weight: bold;
  border: 1px solid #ccc;
  color: rgb(97, 97, 97);
  text-align: center;
}

/* .erInputStyle2 {
  border: 1px solid #ffffff;
}

input:disabled {
  background: #ffffff;
} */

.erReqInputStyle {
  width: 100%;
  height: 26px;
  border: 1px solid #ccc;
  background: #fef4f4;
}

.erSearchButton {
  padding: 3px 10px;
  font-size: 12px;
}

.erLightGreen {
  background-color: rgb(232, 248, 232);
}

/* 셀렉트 박스  */
.erSelectBox {
  font-size: 13px;
  padding-left: 20px;
  padding-right: 50px;
  background: url("../../../images/icon/arw-bottom.png") no-repeat calc(100% - 12px) center/12px;
  color: rgb(97, 97, 97);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
}

.email-cell {
  display: flex;
  align-items: center;
}

.email-cell input[type="text"] {
  flex: 9;
}

.email-cell::before {
  content: "@";
  flex: 1;
  text-align: left;
  font-size: 13px;
}
