.hr-section {
  /* height: 80%; */
  /* overflow-y: auto;
  overflow-x: hidden; */
  padding-top: 15px;
  height: calc(100% - 170px);
}
.hrGrid {
  height: 100%;
  display: flex;
  gap: 1rem;
  /* grid-template-columns: 300px 1fr;
  grid-gap: 1rem; */
  /* border: 1px solid var(--color-primary-black); */
  background-color: var(--color-primary-white);
}

.listArea,
.contentsArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}

.listArea {
  width: 300px;
  flex-shrink: 0;
}
.contentsArea {
  width: 100%;
}

.hrGridTable,
.hrTotalTable {
  text-align: center;
}

.hrTotalTable tr th {
  width: 50%;
}
.hrInfoBase {
  display: flex;
  padding-top: 10px;
}
.hrInfoBaseProfileImg {
  width: 210px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hrInfoBaseProfileTitle {
  padding-left: 95px;
  background-color: var(--color-opacity-gray);
}

.hrInfoBaseProfileImgBtn {
  /* margin: 10px 5px; */
  margin: 8px 5px 0;
  font-weight: 600;
  font-family: "NanumSquare", sans-serif;
}

.hrInfoBase .table,
.hrInfoBase .table tr {
  display: flex;
}
.hrInfoBase .table tbody {
  width: 50%;
}
.hrInfoBase .table th {
  width: 200px;
  text-align: right;
  border: none;
  flex-shrink: 0;
}
.hrInfoBase .table td {
  width: 100%;
  padding: 3px 10px;
  border: none;
}

/* .hrInfoBaseProfileOnePtag {
  text-align: right;
  padding: 10px 10px;
  font-weight: 900;
}

.hrInfoBaseInput {
  display: block;
  margin: 7px 20px 7px 10px;
  font-weight: 500;
} */
.hrInfoDetailWrap {
  height: calc(100% - 300px);
}
.hrInfoDetail {
  height: calc(100% - 35px);
}

.hrInfoDetailTable th {
  height: 34px;
  background-color: var(--color-opacity-gray);
  border: 1px solid var(--color-border-gray);
}
.hrInfoDetailTable td {
  height: 34px;
  text-align: center;
  background-color: var(--color-opacity-white);
  border: 1px solid var(--color-border-gray);
}
.totalBox th {
  border-bottom: 1px solid var(--color-border-gray);
}
/* .hrInfoBaseBox {
  text-align: left;
  padding: 5px;
  height: 34px;
  font-weight: 900;
} */

.hrDetail {
  display: flex;
}

.hrDetailTitle {
  background-color: var(--color-opacity-gray);
  width: 15%;
  padding-left: 55px;
}
.hrDetailTitle p {
  padding: 10px 10px;
  text-align: right;
  font-weight: 900;
}

.hrDetailInput {
  display: block;
  margin: 7px 20px 7px 10px;
  font-weight: 500;
}

.hrDetailText {
  margin: 7px 20px 7px 10px;
  height: 32px;
  display: flex;
}
.hrDetailText p {
  display: flex;
  align-items: center;
  font-weight: 900;
}

.hrDetailSelect {
  margin: 7px 10px;
}

.hrBody {
  display: flex;
}

.hrBody .table,
.hrBody .table tr {
  display: flex;
}
.hrBody .table tbody {
  width: 50%;
}
.hrBody .table th {
  width: 200px;
  text-align: right;
  border: none;
  flex-shrink: 0;
}
.hrBody .table td {
  width: 100%;
  padding: 3px 10px;
  border: none;
}
