/* .section,
#container,
#one,
#two,
#three,
.card {
  flex-shrink: 0;
} */

.sectionMain {
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  display: flex;
  align-items: center;
  height: 100%;
  /* min-height: 955px; */
  /* height: 80%; */
  /* 805 - 50 - 50 = 705px */
  /* padding: 75px 15px; */
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%; /* 1610의 절반 */
  /* height: 100%; */
}

#one {
  padding-top: 30px;
}
#one > p {
  font-size: 32px;
}
#one > span {
  display: inline-block;
  padding-top: 35px;
  font-size: 16px;
}
#two {
  padding-top: 60px;
}
#three {
  width: 50%;
  display: flex;
  flex-wrap: wrap; /* 여러 줄로 아이템을 배치하려면 wrap을 사용 */
  gap: 22px;
}

.card {
  width: 340px;
  /* height: 350px; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* padding: 50px 0 38px; */
  padding: 40px 0 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef7fe;
  /* margin: 5px; */
  transition: transform 0.3s; /* 추가된 코드 */
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05); /* 추가된 코드 */
}

.card > a {
  display: inline-block;
  padding-top: 20px;
}
.image_container {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #7092e4;
}

.card [class^="ico-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card [class^="ico-"]:after {
  width: 60px;
  height: 60px;
}

.card:nth-child(1) [class^="ico-"] {
  left: 52%;
}
.card:nth-child(1) [class^="ico-"]:after {
  width: 75px;
  height: 75px;
}

.text1 {
  padding-top: 24px;
  font-size: 20px;
  /* margin: 6px 0; */
}

.text2 {
  padding-top: 10px;
  font-size: 16px;
  /* margin: 6px 0; */
}
.mainPageBtn {
  padding: 12px 44px;
  /* margin-top: 14px; */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover .mainPageBtn {
  background-color: #0056b3;
  color: white;
}
